{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
    <h1 class="center-heading">Forgot Password</h1>

    <div class="form-container">
        <form method="POST" action="{{ url_for('forgot_password') }}">
            <label>Email</label>
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit" class="submit-btn">Send Reset Code</button>
        </form>
    </div>
{% endblock %}