{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
    <h1 class="center-heading">Reset Password</h1>
    <div class="form-container">
        <form method="POST" action="{{ url_for('reset_password') }}">
            <input type="hidden" name="email" value="{{ email }}">
            <label for="reset_code">Reset Code:</label>
            <input type="text" id="reset_code" name="reset_code" required>
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>
{% endblock %}